.dropzone:empty {
    color: #ccc;
    min-height: 40px;
    border-style: dashed;
    border-color: #ccc;
    text-align: center
}

.dropzone:empty:before{
    content: "glisser ici";
    font-size: 20px;
    margin-top:5px;
    margin-bottom:5px;
}

.theme-btn {
    margin-right: 5px;
    margin-left: 5px;
}

/* -- popup -- */
.popover {
    min-width:450px;
}
.popover-content {
    min-width: 300px;
    height: 200px;
    overflow-y: auto;
}

.ol-scale-line {
    bottom: 20px;
    right: 8px;
    left: unset;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.popover-body {
    max-height:300px;
    overflow:auto;

}
hr{
    border-width:3px;
    border-top: 1px solid #8c8b8b;

}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: auto;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;

    color: #999;
}

.sidebar .nav-link.active {
    color: #d8ebff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */


.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    color: whitesmoke;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.navbar{
    overflow: hidden;
}


.navbar-dark .navbar-nav .nav-link {
    border-color: grey;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
    border-radius: unset;
}
@media only screen and (max-width: 600px) {
    .navbar-dark .navbar-nav .nav-link{
        border-color:transparent;
    }
}
/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
